#taskList {
    position: absolute;
    height: 100%;
    width: 30%;
    background: rgb(212, 212, 212);
}

.menu {
    position: relative;
    top: -30px;
    left: 20px;
}

.counter {
    position: relative;
    width: 5%;
    display: inline-block;
    top: 20px;
    left: 5px;
}

.task.name {
    position: relative;
    left: -15px;
    font-weight: bold;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    overflow: scroll;
    width: 50px;
}

.task.name:hover {
    box-shadow: 0 0 5px #000000;
}

.delete {
    position: relative;
    background: rgb(219, 154, 154);
    padding: 5px 10px 5px 10px;
    margin: 0px;
}

.delete:hover {
    background: rgb(250, 53, 53);
}