.chart {
    position: absolute;
    left: 60%;
}

.bar {
    top: 166px;
    position: relative;
    margin: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.column {
    position: absolute;
    background: rgb(218, 218, 218);
    width: 2px;
    height: 925px;
    padding-top: 4px;
    padding-bottom: 4px;
}